main {}

/* 
* Hero
*/

.hero-eny {
    width: 100%;
    height: 640px;
    margin: 42px 0 0;
    padding: 0 95px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 15px;
    background-image: url(../public/img/blue-wave-1.svg);
    background-size: 100%;
}

.hero-container {
    width: 100%;
    max-height: 370px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.col-r,
.col-l {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-r p {
    padding: 30px 0;
}

.hero-eny img {
    max-width: 370px;
    max-height: 370px;
}

.hero-btn-container {
    width: 100%;
}

.counter-container {
    width: 100%;
    min-height: 100px;
    margin: 40px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end
}

.counter {
    text-align: center;
}

.counter-number {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;

}

.counter-title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

}


/* 
* About
*/

.about-eny {
    width: 100%;
    height: 670px;
    margin: 250px 0 0;
    text-align: center;
    padding: 0 95px;
    background-color: #F2CE14;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.eny-title-container {}

.eny-subtitle {
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 20px;
}

.about-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}


.about-col-l {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about-col-r {
    width: 50%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 10%;
    text-align: justify;
}


/* 
* ROADMAP
*/

.roadmap-eny{
    width: 100%;
    height: 420px;
    margin: 250px 0 0;
    padding: 0 95px;
    text-align: center;
    background-color: #fff;
    background-image: url(../public/img/blue-wave-2.svg);
    background-size: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.timeline-container{
    width: 100%;
    height: 80%;
    /* background-color: blueviolet; */
}

/* 
* News
*/

.news-eny{
    width: 100%;
    height: 420px;
    margin: 250px 0 0;
    padding: 0 95px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* 
* Whitepaper
*/


.whitepaper-eny{
    width: 800px;
    height: 210px;
    padding: 0 95px;
    margin:250px auto -80px;
    background-color: #F2CE14;
    border-radius: 15px;
    text-align: center;
    position: relative;
    z-index: 10;
}

