/* 
* Hero
*/

#hero-eny {
    width: 100%;
    height: 640px;
    margin: 42px 0 0;
    padding: 0 95px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 15px;
    background-image: url(../../public/img/blue-wave-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-container {
    width: 100%;
    max-height: 370px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.col-r,
.col-l {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-r p {
    padding: 30px 0;
}

#hero-eny img {
    max-width: 370px;
    max-height: 370px;
}

.hero-btn-container {
    width: 100%;
}

.counter-container {
    width: 100%;
    min-height: 100px;
    margin: 40px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end
}

.counter {
    text-align: center;
}

.counter-number {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;

}

.counter-title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

}

@media screen and (max-width: 768px) {
    #hero-eny{
        display: none;
    }
}