/* 
* Whitepaper
*/


#whitepaper-eny {
    max-width: 800px;
    height: 210px;
    padding: 0 95px;
    margin: 250px auto -80px;
    background-color: #F2CE14;
    border-radius: 15px;
    text-align: center;
    position: relative;
    z-index: 10;
}


@media screen and (max-width: 1024px) {
    #whitepaper-eny {
        padding: 0 0;
        margin: 250px auto 60px;
    }

}

@media screen and (max-width: 425px) {
    #whitepaper-eny h2 {
        font-size: 42px;
    }
}